.skill-bars{
    /* padding: 25px 30px; */
    max-width: 1000px;
    width: 94%;
    /* background: #fff; */
    /* box-shadow: 5px 5px 20px rgba(0,0,0,0.2); */
    /* border-radius: 10px; */
    margin: auto;
  }
  .skill-bars .bar{
    margin: 20px 0;
  }
  .skill-bars .bar:first-child{
    margin-top: 0px;
  }
  .skill-bars .bar .info{
    margin-bottom: 5px;
  }
  .skill-bars .bar .info span{
    font-weight: 500;
    font-size: 17px;
    opacity: 0;
    color: white;
    animation: showText 0.5s 1s linear forwards;
  }
  @keyframes showText {
    100%{
      opacity: 1;
    }
  }
  .skill-bars .bar .progress-line{
    height: 10px;
    width: 100%;
    background: #8892B0;
    /* position: relative; */
    /* z-index: 1; */
    transform: scaleX(0);
    transform-origin: left;
    border-radius: 10px;
    /* box-shadow: inset 0 1px 1px rgba(0,0,0,0.05),
                0 1px rgba(255,255,255,0.8); */
    animation: animate 1s cubic-bezier(1,0,0.5,1) forwards;
  }
  @keyframes animate {
    100%{
      transform: scaleX(1);
    }
  }
  .bar .progress-line span{
    height: 100%;
    z-index: 0;
    position: absolute;
    border-radius: 10px;
    transform: scaleX(0);
    transform-origin: left;
    background: #64FFDA;
    animation: animate 1s 1s cubic-bezier(1,0,0.5,1) forwards;
  }
  .bar .progress-line.html span{
    width: 80%;
  }
  .bar .progress-line.css span{
    width: 60%;
  }
  .bar .progress-line.js span{
    width: 60%;
  }
  .bar .progress-line.react span{
    width: 50%;
  }
  .bar .progress-line.bootstrap span{
    width: 55%;
  }
 